<h1>Confirm Your Email</h1>
<p>Thank you for registering!</p>
<p>
    Please click the link below to confirm your email address:
</p>
<a href="{{confirmUrl}}" target="_blank">
    Confirm Email
</a>
<p>This link will expire in 24 hours.</p>